<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>
  
<body>

<div class="header">
  <ul class="navigation">
    <li><a href="default.asp">Space App Challenge</a></li>
    <li><a href="news.asp">About</a></li>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">
  </ul>
</div>




  <h1 class="text">Discover the water areas around you</h1>

<div class="map">



</div>

<div class = "wrap">
  
  
<div>
  
  <a href="https://free-basket.glitch.me/discover" class="button">Discover Areas</a></div>  
   <div class = "top">
     <a href="https://free-basket.glitch.me/data" class="text3"> or discover water data</a></div>

</div>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyCqijook9ajt0wRW5xbq3_FfE1wFy4BCjw"></script>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
<script src="/client.js"></script>
  
</body>
</html>
